.env
*.env
bin/
vars/

venv/
env/
ENV/
.venv/
.env/

**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot

*.sqlite3
*.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

Thumbs.db
Ehthumbs.db
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride